<div class="row">
 
    <div class="col">
      <div class="myFormContainer">
        <h1 id="testSelect"></h1>
        <form action="#/" class="myForm box">
          <label for="name">Name</label>
          <input type="text" name="name" id="name">
          <div class="controlBox">
            <div class="plusMinus">
              <a href="#/" class="btn myRadio previewSwap" id="nameMinus">[-]</a>
              <a href="#/" class="btn myRadio previewSwap" id="namePlus">[+]</a>
            </div>

            <div class="justifyControls">
              <a href="#/" class="btn myRadio primary-text previewSwap" id="nameLeft">Left</a>
              <a href="#/" class="btn myRadio primary-text previewSwap" id="nameCenter">Center</a>
              <a href="#/" class="btn myRadio primary-text previewSwap" id="nameRight">Right</a>
            </div>
          </div>
      
          <label for="title">Title</label>
          <input type="text" name="title" id="title">

          <div class="controlBox">
            <div class="plusMinus">
              <a href="#/" class="btn myRadio previewSwap" id="titleMinus">[-]</a>
              <a href="#/" class="btn myRadio previewSwap" id="titlePlus">[+]</a>
            </div>
            
            <div class="justifyControls">
              <a href="#/" class="btn myRadio primary-text previewSwap" id="titleLeft">Left</a>
              <a href="#/" class="btn myRadio primary-text previewSwap" id="titleCenter">Center</a>
              <a href="#/" class="btn myRadio primary-text previewSwap" id="titleRight">Right</a>
            </div>
          </div>
       
          <label for="phone">Phone</label>
          <input type="text" name="phone" id="phone">
          <div class="controlBox">
            <div class="plusMinus">
              <a href="#/" class="btn myRadio previewSwap" id="phoneMinus">[-]</a>
              <a href="#/" class="btn myRadio previewSwap" id="phonePlus">[+]</a>
            </div>
            
            <div class="justifyControls">
              <a href="#/" class="btn myRadio primary-text previewSwap" id="phoneLeft">Left</a>
              <a href="#/" class="btn myRadio primary-text previewSwap" id="phoneCenter">Center</a>
              <a href="#/" class="btn myRadio primary-text previewSwap" id="phoneRight">Right</a>
            </div>
          </div>

          <label for="email">Email</label>
          <input type="text" name="email" id="email">
          <div class="controlBox">
            <div class="plusMinus">
              <a href="#/" class="btn myRadio previewSwap" id="emailMinus">[-]</a>
              <a href="#/" class="btn myRadio previewSwap" id="emailPlus">[+]</a>
            </div>
            
            <div class="justifyControls">
              <a href="#/" class="btn myRadio primary-text previewSwap" id="emailLeft">Left</a>
              <a href="#/" class="btn myRadio primary-text previewSwap" id="emailCenter">Center</a>
              <a href="#/" class="btn myRadio primary-text previewSwap" id="emailRight">Right</a>
            </div>
          </div>

          <a href="#/" class="btn box myRadio selecto mb-3 previewSwap" id="preview"><bold>Preview</bold></a>
        </form>
      </div>
    </div>

    <div class="col canvasPreview myForm">
      <canvas class="myFormContainer2 sticky" id="myCanvas" width="1050" height="600"></canvas>
      <div class="canvasControls">
        <!-- <a href="#/" class="btn myRadio primary-text previewSwap box btnCorrecto" id="downloadLowRes">Download Low Res.</a>
        <a href="#/" class="btn myRadio primary-text previewSwap box btnCorrecto" id="downloadHighRes">Download High Res.</a> -->
        <button type="button" class="btn myRadio primary-text previewSwap box btnCorrecto" id="downloadLowRes" type="button">Download Low Res.</button>
        <button type="button" class="btn myRadio primary-text previewSwap box btnCorrecto" id="downloadHighRes" type="button">Download High Res.</button>
      </div>
    </div>
  </div>
  <div id="imgTarget"></div>
  <script src="../js/contactKairdeScripts.js"></script>
  <script src="../js/contactKairde.js"></script>
  <script src="../js/index.js"></script>