<div class="row">
 
    <div class="col">
      <div class="myFormContainer">
        <h1 id="testSelect"></h1>
        <form action="#/" class="myForm box">
          <label for="name">Name</label>
          <input type="text" name="name" id="name">
          <div class="controlBox">
            <div class="plusMinus">
              <a href="#/" class="btn myRadio previewSwap unpress" id="nameMinus" onclick="this.blur()">[-]</a>
              <a href="#/" class="btn myRadio previewSwap unpress" id="namePlus" onclick="this.blur()">[+]</a>
            </div>

            <div class="justifyControls">
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="nameLeft" onclick="this.blur()">Left</a>
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="nameCenter" onclick="this.blur()">Center</a>
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="nameRight" onclick="this.blur()">Right</a>
            </div>
          </div>
      
          <label for="title">Title</label>
          <input type="text" name="title" id="title">

          <div class="controlBox">
            <div class="plusMinus">
              <a href="#/" class="btn myRadio previewSwap unpress" id="titleMinus" onclick="this.blur()">[-]</a>
              <a href="#/" class="btn myRadio previewSwap unpress" id="titlePlus" onclick="this.blur()">[+]</a>
            </div>
            
            <div class="justifyControls">
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="titleLeft" onclick="this.blur()">Left</a>
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="titleCenter" onclick="this.blur()">Center</a>
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="titleRight" onclick="this.blur()">Right</a>
            </div>
          </div>
       
          <label for="phone">Phone</label>
          <input type="text" name="phone" id="phone">
          <div class="controlBox">
            <div class="plusMinus">
              <a href="#/" class="btn myRadio previewSwap unpress" id="phoneMinus" onclick="this.blur()">[-]</a>
              <a href="#/" class="btn myRadio previewSwap unpress" id="phonePlus" onclick="this.blur()">[+]</a>
            </div>
            
            <div class="justifyControls">
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="phoneLeft" onclick="this.blur()">Left</a>
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="phoneCenter" onclick="this.blur()">Center</a>
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="phoneRight" onclick="this.blur()">Right</a>
            </div>
          </div>

          <label for="email">Email</label>
          <input type="text" name="email" id="email">
          <div class="controlBox">
            <div class="plusMinus">
              <a href="#/" class="btn myRadio previewSwap unpress" id="emailMinus">[-]</a>
              <a href="#/" class="btn myRadio previewSwap unpress" id="emailPlus">[+]</a>
            </div>
            
            <div class="justifyControls">
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="emailLeft" onclick="this.blur()">Left</a>
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="emailCenter" onclick="this.blur()">Center</a>
              <a href="#/" class="btn myRadio primary-text previewSwap unpress" id="emailRight" onclick="this.blur()">Right</a>
              <!-- <button type="button" class="bubbly-button" id="emailLeft">Left</button>
              <button type="button" class="bubbly-button" id="emailCenter">Center</button>
              <button type="button" class="bubbly-button" id="emailRight">Right</button> -->
            </div>
          </div>

          <a href="#/" class="btn box myRadio selecto mb-3 previewSwap z90 unpress" id="preview" onclick="this.blur()"><bold>Preview</bold></a>
        </form>
      </div>
    </div>

    <div class="col canvasPreview myForm">
      <canvas class="myFormContainer2 sticky" id="myCanvas" width="1050" height="600"></canvas>
      <div class="canvasControls">
        
        <button type="button" class="btn myRadio primary-text previewSwap box btnCorrecto z90 unpress" id="downloadLowRes" type="button" onclick="this.blur()">Download Low Res.</button>
        <button type="button" class="btn myRadio primary-text previewSwap box btnCorrecto z90 unpress" id="downloadHighRes" type="button" onclick="this.blur()">Download High Res.</button>

        <!-- <a href="#/" class="btn myRadio primary-text previewSwap box btnCorrecto z90" id="downloadLowRes">Download Low Res.</a>
        <a href="#/" class="btn myRadio primary-text previewSwap box btnCorrecto z90" id="downloadHighRes">Download High Res.</a> -->
        
        <!-- <button type="button" class="btn myRadio primary-text previewSwap box btnCorrecto" id="downloadLowRes" type="button">Download Low Res.</button>
        <button type="button" class="btn myRadio primary-text previewSwap box btnCorrecto" id="downloadHighRes" type="button">Download High Res.</button> -->
      </div>
    </div>
  </div>
  <div id="imgTarget"></div>
  <!-- <script>
    var animateButton = function(e) {
      console.log(e)
    // e.preventDefault;
    // //reset animation
    // e.target.classList.remove('animate');

    // e.target.classList.add('animate');
    // setTimeout(function(){
    //   e.target.classList.remove('animate');
    // },1900);
    };

    var bubblyButtons = document.getElementsByClassName("bubbly-button");

    for (var i = 0; i < bubblyButtons.length; i++) {
    bubblyButtons[i].addEventListener('click', animateButton, false);
    }
  </script> -->
  <div class="outer">
    <div class="inner" id="dummy">
      $
    </div>
  </div>
  <script src="../js/contactKairdeScripts.js"></script>
  <script src="../js/contactKairde.js"></script>
  <script src="../js/index.js"></script>
  <script src="../js/press.js"></script>