<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <div class="container-fluid navAdjust">
        <a href="/profile" class="navbar-brand">
            <img src="../../imgs/default-monochrome.svg" class="img-break480" height="85" alt="Kairde Logo">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <% if (typeof user != 'undefined') {%>
                <a href="/profile/contactKairde" class="nav-item active navButton nav-item-push previewSwapSquare">Make</a>
                <a href="/profile" class="nav-item active navButton nav-item-push previewSwapSquare">Import</a>
                <a href="/feed" class="nav-item active navButton nav-item-push previewSwapSquare">Saved</a>
                <%}%>
                <%if (typeof user == 'undefined') { %>
                    <a href="/signup" class="nav-item navButton previewSwapSquare nav-item-push" style="display: none;" id="registerBtn">Register</a>
                    <a href="/login" class="nav-item navButton previewSwapSquare nav-item-push" style="display: none;" id="loginBtn">Login</a>
                <% } else { %>
                    <%if (typeof user != 'undefined') { %>
                        <a href="/settings" class="nav-item active navButton previewSwapSquare nav-item-push" tabindex="-1">My Info</a>
                        <%}%>
                    <a href="/logout" class="nav-item navButton nav-item-push previewSwapSquare" tabindex="-4">Logout</a>
                <% }%>
                 <a href="#/" class="nav-item active navButton nav-item-push previewSwapSquare" id="cookiesDisclaimerButton"><i class="fa-solid fa-cookie"></i></a>
                </div>
                <div class="navbar-nav ms-auto">
            
            </div>
        </div>
    </div>
    <script> 
        const btnsNode = document.querySelectorAll('.btn')
        let btnsArr = Array.from(btnsNode);
        btnsArr.forEach(button => {
            button.addEventListener('click', () => {
                button.blur()
                button.style += 'box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.7) !important;'
            });
        })

        const cookiesDisclaimerButton = document.getElementById("cookiesDisclaimerButton")
        cookiesDisclaimerButton.addEventListener('click', _ => {
            fade('in', 500, disclaimer)
        })
        // const cookiesChecker = window.localStorage.getItem('cookies')
        // if (cookiesCheckBanner === 'accept') {

        // } 
    </script>
</nav>