<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="/profile" class="navbar-brand">
            <img src="../../imgs/default-monochrome.svg" height="85" alt="Kairde Logo">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                
                <!-- <a href="#" class="nav-item nav-link">Tools</a> -->
                <%if (typeof user != 'undefined') { %>
                <!-- <a href="/profile" class="nav-item nav-link">Profile</a> -->
                <a href="/profile" class="nav-item active navButton">Profile</a>
                <a href="/settings" class="nav-item active navButton" tabindex="-1">My Info</a>
                <%}%>
            </div>
            <div class="navbar-nav ms-auto">
                <%if (typeof user == 'undefined') { %>
                <a href="/signup" class="nav-item navButton">Register</a>
                <a href="/login" class="nav-item navButton">Login</a>
                <% } else { %>
                    <a href="/logout" class="nav-item navButton">Logout</a>
                <% }%>
            </div>
        </div>
    </div>
</nav>