<div class="dynamic-container">
    <h2>Kairde.com Privacy Policy and Terms of Service</h2>
    <p>To register (create) or use (login to) an account with Kairde.com, you agree to our privacy policy and terms of service as outlined below. Failure to follow and adhere to these terms can lead to immediate account suspension, deletion, or other actions as deemed neccessary by Kairde.com and agents acting on its behalf.</p>

    <div class="dynamic-container">
        <h2>Privacy Policy</h2>
        <p>We take user privacy seriously and think you should too: </p>
        <ul>
            <li><p><b>Cookies:</b> We use essential cookies to handle account state, for login, and account creation. We do not puprosefully share this with anyone else; it's to ensure a smooth user experience while using the site.</p></li>
            <li><p> <b>If You Refuse Cookies:</b> If you don't want cookies, that's cool too. It will disable some of the features directly associated with accounts, but you can still use the main tool.</p></li>
            <li><p> <b>Your Information:</b> We do our best to only use essential information on our services for diagnostic and runtime purposes. We do not sell or purposefully share your data with anyone else.</p></li>
            <li><p><b>Account Deletion:</b> If you delete your account, we delete the data. We don't hold on to it, so make sure you really want to delete it before you do, we cannot restore it once it has been deleted. In some cases deleting data may take some time, if you have issues deleting your account please contact us for assistance.</p></li>
            <li><p><b>Caveats:</b> If your data, your account, or any affiliated information based on your usage is required to be turned over do to a court or police order, we will comply with legal orders as neccessary and may or may not notify you depending on circumstances (please don't do stuff where this is an issue).</p></li>
        </ul>

    </div>
    <div class="dynamic-container">
        <h2>Terms of Service</h2>
        <p>To use our site, or make an account you agree to our terms of service, as outlined below:</p>
        <p>1. <b>Be Nice:</b> Do not use our site to harrass, intimidate, inpersonate, or otherwise be malicious or harmful/hurtful to others (these are determined at our sole discretion, just be nice to people). Conduct yourself in a lawful and polite manner, please.</p>
        <p>2. <b>Hold Harmless:</b> By using our site and the tools included, you accept any and all risk associated with them to your personal data (do NOT use or save sensitive or personally identifiable information with our site). You agree to assume all risk, and legal liability, and hold us harmless (or as harmless as the extent of the law allows. You agree to be responsible for any legal or other excessive costs that we (Kairde, and agents of Kairde) incur due to your misuse of these free services; see term 1: Be Nice.</p>
        <p>3. <b>We Reserve The Right to Refuse Service to Anyone:</b> If you break the terms of service, use this free tool for illicit means, or otherwise don't abide by rule 1 (be nice), we (at our sole discretion) reserve the right to suspend, terminate, or delete your account and prohibit you from using our site. Furthermore, any illegal activity may be reported to the authorities as deemed necessary; see rule 1 (be nice) for general advice on how to avoid this.</p>
        <p>4. <b>Right to update terms:</b> We reserve the right to update, change, modify, and/or delete our privacy policy and terms of service with or without notifying you (the user). To see our most current posted Privacy Policy and Terms of service click <a href="/policies">here</a></p>
        <p>5. <b>Strike Clause:</b> If any of our privacy policy or terms of service are deemed non-binding, or otherwise struck down, we assert that all other parts not struck down remain, and that any parts struck down are reinstated in the closest to original form as deemed appropriate.</p>
    </div>
</div>