<div class="row">
    <div class="column">
        <div class="row">
            <h1>What would you like to do?</h1>
        </div>
        <div class="row box">
            <!-- a tag with variable for what to render -->
            <!-- <form action="/profile">
                <button>Contact Kairde</button>
            </form> -->
            <a href="/profile/contactKairde" class="btn"><h2>Make Contact-Kairde</h2></a>
         </div>
         <div class="row box">
            <a href="/profile/bioKairde" class="btn"><h2>Make Biographical Kairde</h2></a>
         </div>
         <div class="row box">
            <a href="/profile/resumeKairde" class="btn"><h2>Make Resume Kairde</h2></a>
         </div>
         <div class="row box">
            <a href="/profile/myKairdes" class="btn"><h2>View Saved Kairdes</h2></a>
         </div>
    </div>

    
</div>