<div class="row">
    <div class="column">
        <div class="row">
            <h1>What would you like to do?</h1>
        </div>
        <div class="row box">
            <!-- a tag with variable for what to render -->
            <!-- <form action="/profile">
                <button>Contact Kairde</button>
            </form> -->
            <a href="/profile/contactKairde" class="btn unpress"><h2>Make Contact-Kairde</h2></a>
         </div>
         <div class="row box">
            <a href="/profile/bioKairde" class="btn unpress"><h2>Make Biographical Kairde</h2></a>
         </div>
         <div class="row box">
            <a href="/profile/resumeKairde" class="btn unpress"><h2>Make Resume Kairde</h2></a>
         </div>
         <div class="row box">
            <a href="/profile/myKairdes" class="btn unpress"><h2>View Saved Kairdes</h2></a>
         </div>
    </div>
    <div class="mt-5">
        <h2>Save a Kairde</h2>
        <form action="/post/createPost" enctype="multipart/form-data" method="POST">
          <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title">
          </div>
          <div class="mb-3">
            <label for="caption" class="form-label">Caption</label>
            <textarea class="form-control" id="caption" name="caption"></textarea>
          </div>
          <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div>
          <button type="submit" class="btn btn-primary unpress" value="Upload">Submit</button>
        </form>
      </div>
    
</div>