<div class="mt-5 width100" id="uploadResizer100">
    <h2>Import Kairde</h2>
    <form action="/post/receiveKairde" method="POST">
      <div class="mb-3">
        <label for="link" class="form-label">ImportLink:</label>
        <input type="text" class="form-control" id="link" name="link">
      </div>
      <button type="submit" class="btn myRadio primary-text previewSwap box btnCorrecto unpress" value="Upload" onclick="this.blur()">Submit</button>
    </form>
  </div>

</div>
<script src="../js/press.js"></script>