<%- include('partials/header') -%>
<div class="dynamic-container">
    <h1>There's nothing here.</h1>
    <p>Either the link is invalid, or it's not set to publicly share</p>
    <form action="/">
        <button type="submit" name="button" id="button" class="btn myRadio selecto previewSwap">Click to go to the main site</button>
    </form>
</div>
<%- include('partials/cookieDisclaimer')%>
<%- include('partials/footer') -%>