<%- include('partials/header') -%>

<main class="container dynamic-container">
    <div class="row justify-content-around mt-5">
        <h1>Make a Kairde</h1>
        <%- include('partials/contactKairdeLoggedOut')%>
        <!-- <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a> -->
        <%- include('partials/cookieDisclaimer')%>
    </div>
</main>
<%- include('partials/footer') -%>
<script src="../js/press.js"></script>