/* for mobile, no hover */
/* @media(hover: hover) and (pointer: fine) { */

        /* .btn{
        z-index: 99 !important;
    } */
.test{
    border: 3px solid red;
}
body{
    background: rgb(109,205,159);
    background: rgb(33, 53, 85);
    position: relative;
    overflow-x: hidden;
}
.navbar{
    opacity: 80%;
    border: 3px solid black;
    background:rgba(255, 255, 255, 1) !important;
    margin: 2%;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7); 
}
.dynamic-container{
    background-image: url("/imgs/Waterfall.png");
    background:rgba(255, 255, 255, 0.8) !important;
    border-radius: 25px;
    border: 3px solid black;
    padding: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7); 
    position: relative;
    overflow-x: hidden;
}
.box{
    border-radius: 25px;
    border: 3px solid black;
    padding: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7); 
    margin: 2%;
}
.box-small{
    padding: 5px;
    margin: 1%;
    width: 50%;
}
.shadow{
    padding: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7); 
    margin: 2%;
}
.navButton{
    border-radius: 25px;
    border: 3px solid black;
    padding: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7); 
    color: black;
    text-decoration: none;
    cursor: auto; 
}
.myButton {
    border-radius: 25px;
    border: 3px solid black;
    padding: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7); 
    color: white;
    text-decoration: none;
    cursor: auto; 
}
/* .myButtonSecondary {
    border-radius: 25px;
    border: 3px solid black;
    padding: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7); 
    color: rgb(146, 91, 105);
    text-decoration: none;
    cursor: auto; 
} */

.myForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#myCanvas{
    border: 3px solid black;
    padding: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7); 
    color: rgb(137, 175, 105);
    text-decoration: none;
    cursor: auto; 
    margin-bottom: 2%;
    width: 336px;
    height: 192px;
}
.canvasPreview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.canvasControls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.spaced{
    margin: 5%;
}
.plusMinus *{
    font-size: 1.3rem;
    color:black;
    text-decoration: none;
}
/* .plusMinus *:hover{
    color:white;
} */
.controlBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.myRadio{
    border: 3px solid black;
    padding: 5px;
    margin-top: 10px;
}
.nav-item-push{
    margin-left: 5px;
}
.no-list-style{
    list-style: none;
}

.my-box-background{
    background-color: white;
}
.opacity-20{
    opacity: 20%;
}
#wrapper {
    display: inline;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.categoryForm {
    display: flex;
    align-items: center;
    width: 100%;
}
.primary-text{
    color: black;
}
/* .primary-text:hover{
    color: white;
} */
/* .button-correction:hover{
    color: black
} */
.selecto{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    margin-top: 12%;
    color: black;
    border: 3px solid black;
}
/* .selecto:hover{
    color: white !important;
} */
.justifyControls{
    margin-top: 0.75%;
}
    /* .btn:active, .myRadio:active{
    border: 3px solid rgb(255, 255, 255);
    background-clip: padding-box !important;
} */
.btn-snap{
    padding: 5%;
    color: black;
    background-color: aliceblue;
    border-radius: 2%;
}
/* CHANGED */
/* select.button, button.button, a.button { */
select.button, a.button {
    border-radius: 0.25rem;
    padding: 1rem;
    font-family: 'Avenir Next';
    font-size: 1rem;
    padding: .5rem 3rem;
    color: black;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background: rgb(33, 53, 85);;
    background-origin: border-box;
    background-clip: content-box, border-box;
    color: #fff !important;
}
/* select.button:hover, button.button:hover, a.button:hover {
    box-shadow: none;
    color: black;
} */
.previewSwap{
    background: rgb(33, 53, 85);
    color: #fff;
}
/* .previewSwap:hover{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(300deg, rgb(07, 150, 164), rgb(0,38,163));
    color: rgb(255, 255, 255) !important;
} */
.previewSwapSquare{

    border-radius: 0%;
    background: rgb(33, 53, 85);
    color: #fff;
}
/* .previewSwapSquare:hover{
    border-radius: 0%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, rgb(07, 150, 164), rgb(0,38,163));
    color: rgb(255, 255, 255) !important;
} */
.previewSwapDanger{
    background: rgb(33, 53, 85);;
    color: #fff;
}
/* .previewSwapDanger:hover{
    background-color: red;
    color: rgb(255, 255, 255) !important;
} */

.previewSwapAlt{
    background: rgb(33, 53, 85);
    color: #fff;
}
/* .previewSwapAlt:hover{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(38deg, rgb(0,38,163), rgb(07, 150, 164));
    color: rgb(231, 230, 246) !important;
} */
.previewSwapAlt2{
    background: rgb(33, 53, 85);
    color: #fff;
}
/* .previewSwapAlt2:hover{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(73deg, rgb(0,38,163), rgb(07, 150, 164));
    color: rgb(231, 230, 246) !important;
} */
.myFormContainer{
    background-color: #fff;
    overflow:hidden;
    border-radius: 25px;
    border: none;
}
.myFormContainer2{
    background-color: #fff;
    overflow:hidden;
    border: none;
}
.justifyControls{
    margin-left: 2%;
}
input, textarea{
    border: 3px solid black !important;
}
.btnCorrecto{
    border-radius: 5%;
    padding: 2%;
}
.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.snapBorder{
    border: 3px solid black;
}
.trashCorrecto{
    padding: 15%;
}
.trashCorrecto2{
    padding: 5%;
}
.trashCorrecto3{
margin: 0%;
}
.commentCorrecto{
    justify-content: center;
    align-items: center;
    text-justify: center;
    text-align: center;
}
.correctoAligno{
    display: flex ;
    flex-direction: column;
}
.correctoAligno2{
    margin: 0%;
}
.hideMeCookieMonster{
    display: none;
}
.wbg{
    padding: 2%;
    background: white;
    opacity: 80%;
    border-radius: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wbg-image{
    max-width: 300px;
}
/* .wbg-image:hover, .wbg-image:focus{
    max-width: 80%;
} */
.wbg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register-banner{
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.innerBannerArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bannerSpan{
    margin: 4%;
    font-size: 1.8rem;
}
div.dangerZone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-justify: center;
    text-align: center;
}
.wfont{
    margin-left: 2%;
}
.wfont *{
    color: #fff;
    margin-bottom: 1%;
}
.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
@-webkit-keyframes spinner {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}

@keyframes spinner {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}
.spinner {
    position: fixed;
    width: 34px;
    height: 34px;
    top: 50%;
    left: 50%;
    margin-left: -17px;
    margin-top: -17px;
}
.spinner:after, .spinner:before {
    content: "";
    position: fixed;
    border: 2px solid black;
    width: 30px;
    height: 30px;
}
.spinner:after {
    -webkit-animation: spinner 2.5s linear infinite;
            animation: spinner 2.5s linear infinite;
}
.spinner:before {
    width: 44px;
    height: 44px;
    margin-left: -7px;
    margin-top: -7px;
    -webkit-animation: spinner 2.5s linear infinite;
            animation: spinner 2.5s linear infinite;
    animation-direction: reverse;
}
.spinnerBg{
    /* border: 30px solid linear-gradient(73deg, rgb(0,38,163), rgb(07, 150, 164)); */
    border-radius: 5px;
    /* background: black; */
    /* background: linear-gradient(101deg, rgb(07, 150, 164), rgb(0,38,163)); */
    position: fixed;
    /* width: 134px; */
    width: 134px;
    height: 134px;
    top: 50%;
    left: 50%;
    margin-left: -37px;
    margin-top: -37px;
    opacity: 90%;
}
body {
    padding: 50px; 
}
div.spinnerBg {
    width: 110px;
    height: 140px;
    background-color: #fff;
    border: 3px solid black;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
/* div.spinnerBg:hover{
    background: linear-gradient(101deg, rgb(07, 150, 164), rgb(0,38,163));
} */
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
span.leftMargin{
    margin-left: 1%;
}
.commentWrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.commentWrapper *{
    font-size: 2rem;
}
.commentText{
    font-size: 1.2rem;
    text-align: center;
}
.commentULHolder *{
    margin-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
.bigImg{
    width: 100%;
}
span.borderPaddingDef{
    padding: 3%;
    border: 3px solid black;
    border-radius: 25px;
}
.buttonControlPost{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
}
.lineBtn{
    width: 30%;
    padding: 2.8%;
    margin-top: 0%;
}
.lineBtn2{
    width: 30%;
    padding: 2.8%;
    margin-top: 3.2%;
}
.liComment{
    width: 90%;
}
.mLeft{
    margin-left: 18%;
}
.noShrink{
    min-width: 90%;
}
.imageView{
    width: 392px;
}
/* .imageView:hover{
    width: 80%;
} */
.boxG{
    border-radius: 25px;
    border: 3px solid black;
    padding: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7); 
    margin: 2%;
}
/* .boxG:hover{
    color: #fff;
    background: linear-gradient(101deg, rgb(07, 150, 164), rgb(0,38,163));
    opacity: 95%;
} */
.width90{
    width: 90%;
}
.width100{
    min-width: 100%;
}
.centering{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.dangerZone{
    margin-top: 50px;
    font-size: 2rem;
}
.boxW{
    border-radius: 25px;
    border: 3px solid rgb(255, 0, 0);
    padding: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7); 
    margin: 2%;
}
/* .boxW:hover{
    color: #fff;
    background: repeating-linear-gradient(45deg, rgb(243, 214, 0), rgb(0, 0, 0) 10px,rgb(243, 214, 0)10px, rgb(0, 0, 0,) 20px) !important;
    opacity: 95%;
} */
.feed1{
    max-width: 90%; 
    margin-left: 5%;
}
.feed2{
    max-width: 90%; 
    margin-left: 5%; 
    margin-top: 2%; 
    margin-bottom: 4%;
}
.shrinkMePlease{
    width: fit-content;
    font-size: 0.8rem;
}
ul.no-list-style{
    padding: 0%;
}
.navButton{
    border-radius: 0%;
    text-align: center;
}
/* .navbar{
    width: 100% !important;
    margin: 0% !important;
    border-radius: 0% !important;
}
div.navbar-nav{
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}
div.navbar-nav *{
    text-align: center;
    margin: 0 !important;
    border-radius: 0 !important;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
} */
.navAdjust{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 10%;

}
div#navbarCollapse{
    margin-left: 10%;
}
/* RESPONSIVE STUFF */
@media only screen and (max-width: 1055px) {
    .nav-item{
        width: 100%;
    }
    .dynamic-container{
        border-radius: 0%;
    }
    li.col-4{
        width: 50%;
        border-bottom: 3px solid black; 
    }
    .navbar{
        width: 100%;
        margin: 0%;
        border-radius: 0%;
    }
    div.navbar-nav{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    div.navbar-nav *{
        margin: 0;
        border-radius: 0;
    }
}
@media only screen and (max-width: 600px) {



    
    li.col-4{
        width: 50%;
        /* border: 3px solid black;
        padding: 4%;
        border-radius: 25px; */

        border-bottom: 3px solid black;
    
    }
    .img-break480, img{
        width: 70% !important;
    }
    .navbar.navbar-expand-lg.navbar-light.bg-light{
        width: 80%;
        margin: auto;
        border-radius: 0%;
    }
    a.nav-item.navButton.previewSwap{
        width:80%;
        margin: none;
    }
    .dynamic-container{
        width: 80%;
        border-radius: 0%;
    }

    .cookie-disclaimer *{
        font-size: 0.75rem;
    }
    .navbar-toggler-icon{
        width: 50%;
    }
    .navbar-toggler{
        width: fit-content;

    }
    div.row.justify-content-center.mt-5.dynamic-container{
        width: 80%;
        margin: 0% !important;
    }
    .dynamic-container{
        width: 80%;
    }
    #uploadResizer100{
        margin: 0%;
    }
    .feed1{
        max-width: 80%; 
    }
    .feed2{
        max-width: 80%; 
        margin-left: 0%; 
        margin-top: 0%; 
        margin-bottom: 0%;
        margin-right: 0% !important;
    }
}

@media only screen and (max-width: 600px) {
    body{
        padding: 0%;
        margin: none;
    };
    .img-break480, img{
        width: 70% !important;
    }
    .navbar.navbar-expand-lg.navbar-light.bg-light{
        width: 100%;
        margin: auto;
        border-radius: 0%;
    }
    a.nav-item.navButton.previewSwap{
        width:100%;
        margin: none;
    }
    .dynamic-container{
        width: 100%;
        border-radius: 0%;
    }

    .cookie-disclaimer *{
        font-size: 0.75rem;
    }
    .navbar-toggler-icon{
        width: 100%;
    }
    .navbar-toggler{
        width: 20%;
    }
    div.row.justify-content-center.mt-5.dynamic-container{
        width: 100%;
        margin: 0% !important;
    }
    .dynamic-container{
        width: 100%;
    }
    #uploadResizer100{
        margin: 0%;
    }
    .feed1{
        max-width: 100%; 
    }
    .feed2{
        max-width: 100%; 
        margin-left: 0%; 
        margin-top: 0%; 
        margin-bottom: 0%;
        margin-right: 0% !important;
    }
    li.col-4{
        width: 100%;
        border-bottom: 3px solid black;
    }
    .buttonControlPost{
        flex-direction: column;
    }
    .buttonControlPost *{
        width: 100%;
    }
    .wrapper.commentWrapper{
        width: 100% !important;
    }
    .categoryForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .categoryForm *{
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 90%;
    }
    #comment{
        width: 100%;
    }
    div.mt-5.wrapper.dynamic-container.commentWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #000;
        width: 100%;
        margin-left: 15%;
    }
    div.mt-5.wrapper.dynamic-container.commentWrapper *{
    margin-top: 0%;
    }
    .commentWrapper *{
        font-size: 1rem !important;
    }
    .mLeft{
        margin: 0%;
    }
    input.comment{
        width: 100%;
    }
    ul.no-list-style{
        padding: 0%;
    }
    .widthAdj{
        width: 100% !important;
    }
    .mt-5{
        padding-top: 2%;
        border-top: 3px solid black;
        margin-top: 2% !important;
    }
    .row{
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }
    .container-fluid{
        width: 100%;
        margin: 0%;
        border-radius: 0%;
        flex-wrap: nowrap !important;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    nav.navbar{
        margin: 0%;
        width: 100%;
        border-radius: 0%;
    }
}

@media(hover: hover) and (pointer: fine) {
    .plusMinus *:hover{
        color:white;
    }
    .primary-text:hover{
    color: white;
    } 
    .button-correction:hover{
    color: black
    } 
    .boxW:hover{
    color: #fff;
    background: repeating-linear-gradient(45deg, rgb(243, 214, 0), rgb(0, 0, 0) 10px,rgb(243, 214, 0)10px, rgb(0, 0, 0,) 20px) !important;
    opacity: 95%;
    }
    .boxG:hover{
    color: #fff;
    background: linear-gradient(101deg, rgb(07, 150, 164), rgb(0,38,163));
    opacity: 95%;
    }
    div.spinnerBg:hover{
    background: linear-gradient(101deg, rgb(07, 150, 164), rgb(0,38,163));
    }
    .previewSwapAlt:hover{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(38deg, rgb(0,38,163), rgb(07, 150, 164));
    color: rgb(231, 230, 246) !important;
    }
    .previewSwapAlt2:hover{
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(73deg, rgb(0,38,163), rgb(07, 150, 164));
        color: rgb(231, 230, 246) !important;
    }
    .previewSwapSquare:hover{
    border-radius: 0%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, rgb(07, 150, 164), rgb(0,38,163));
    color: rgb(255, 255, 255) !important;
    } 
    .previewSwapDanger:hover{
        background-color: red;
        color: rgb(255, 255, 255) !important;
    }
    .previewSwap:hover{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(300deg, rgb(07, 150, 164), rgb(0,38,163));
    color: rgb(255, 255, 255) !important;
    }
    select.button:hover, button.button:hover, a.button:hover {
    box-shadow: none;
    color: black;
    }
    .selecto:hover{
    color: white !important;
    }
    .primary-text:hover{
    color: white;
    }
    .button-correction:hover{
        color: black
    }
}







/* new stuff */
/* @keyframes pressed {
    from {
      width: 100%;
    }
    to {
      width: 90%;
    }
    to{
        width: 100%;
    }
  } */

.btn, a.button, button{
/* .btn, a.button{ */
    color: #fff !important;
    /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7) !important;  */
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24) !important;
    /* transition: 0.2s all; */
}
.btn:focus,.btn:active, a.button:focus, a.button:active, button:active, button:focus{
    color: white !important;
    outline: none !important;
   box-shadow: none !important;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7) !important; 
}
/* CHANGED */
a.button:active, button:active, .button:active{
    /* a.button:active, .button:active{ */
    /* background-color: rgb(34, 54, 84);
    box-shadow: 0 5px #666;
    transform: translateY(10px); */
    /* animation-duration: 750ms;
    transform: scale(0.98) !important; */
    /* Scaling button to 0.98 to its original size */
    /* box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24) !important;
    /* animation: 0.5s, moveDown30px slidein; */
    /* Lowering the shadow */
    /* transition: 0.2s all; */
    /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.24) !important; */
  }
  /* .btn {
    padding: 10px 20px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  /* .btn:hover {background-color: inherit;} */
  
  /*.btn:active {
    background-color: #04AA6D;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  } */

  